{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class="projectPage">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brittany Coleman : Portfolio {% endblock %}</title>

</head>
<body class="projectPage">
    <h1 class='projectPage'> Projects</h1>
    <div class='projectPage'>
    <div class='wom-nology'>
        <a href='https://wom-nology.herokuapp.com/'><img class='projectPage' src='https://i.imgur.com/WMTg28T.png'></a>
        <h3> WOM-nology: 
    </div>

    </div>
</body>
</html>
{% endblock%}