{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en" class="aboutPage">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brittany Coleman : About {% endblock %}</title>

</head>
<body class="aboutPage">
    <h1 class='aboutPage'> About</h1>
    <div class='aboutPage'>
        <img class="aboutImage" src="https://i.imgur.com/oIl5wI3.jpg">
        <div class='aboutText'>
            <p class='aboutPage'>Hello and welcome to my portfolio! I'm an Atlanta-based Software Developer  My name is Brittany. I am an Atlanta-based Software Engineer that specializes in creating <strong>beautiful</strong> yet <strong>functional</strong> websites.
            
        </div>
    </div>
</body>
</html>
{%endblock%}
