{% extends 'base.html' %}
{% block content%}
<body class="aboutPage">
    <h1 class='aboutPage'> About</h1>
    <h2 class='aboutPage'>Hello and welcome to my portfolio!</h2>
    <div class='aboutPage'>
        <img class="aboutImage" src="https://i.imgur.com/oIl5wI3.jpg">
        <br/>
        <div class='aboutText'>
            <p class='aboutPage'> My name is Brittany Coleman and I am an Atlanta-based Software Developer. I love designing and developing <strong>beautiful</strong>, yet <strong>functional</strong> websites. 
            <br/>
            <br/>
            Prior to becoming a developer, I spent several years as a talent consultant and recruiter for clients such as Chick-Fil-A, Coca-Cola, Fiserv, Grady Health Systems, Hooters of America, SunTrust, McKesson, Bombardier, Delta, and others. My transition to software engineering came after years of experimenting with sites such as Wix and Weebly and discovering my knack for creating websites. I love the creativity that designing and developing a website offers. I have gained and learned so much, but I still have a great deal to learn and master, beyond excited to continue upon this journey</p>  ! 
    
            {% comment %} <button class='aboutPage'><a class='aboutPage' href='{% url 'connect' %}'>To Inquire or Connect</a></button>   {% endcomment %}
        </div>
    </div>
</body>
{%endblock%}
