{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en" class="aboutPage">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brittany Coleman : About {% endblock %}</title>

</head>
<body class="aboutPage">
    <h1 class='aboutPage'> About</h1>
    <h2 class='aboutPage'>Hello and welcome to my portfolio!</h2>
    <div class='aboutPage'>
        <img class="aboutImage" src="https://i.imgur.com/oIl5wI3.jpg">
        <br/>
        <div class='aboutText'>
            <p class='aboutPage'> My name is Brittany Coleman and I am an Atlanta-based Software Developer. I love designing and developing <strong>beautiful</strong>, yet <strong>functional</strong> websites. 
            <br/>
            <br/>
            I spent several years as a talent consultant and recruiter for clients such as Chick-Fil-A, Coca-Cola, Fiserv, Grady Health Systems, Hooters of America, SunTrust, McKesson, Bombardier, Delta, and others and my transition to software engineering has fostered my creativity. I have learned how to creatively problem-solve and I love it. I have so much more to learn and master but I look to continuing this journey!
            <br/>
            <br/>
            <button class='aboutPage'><a class='aboutPage' href='{% url 'connect' %}'>To Inquire or Connect</a></button></p>
            
        </div>
    </div>
</body>
</html>
{%endblock%}
