{% extends 'base.html' %}
{% block content %}
<body class="certificationsPage">
    <h1 class='certificationsPage'> Education/Certifications</h1>
    <br/>
    <ul class='certificationsPage'>
    <li class='certificationsPage'>General Assembly | Software Engineering Immersive Program </li>
    <br/>
    <li class='certificationsPage'>Brenau University | Master of Science </li> 
    <br/>  
    <li class='certificationsPage'>Columbus State University | Bachelor in Arts</li>
   <br/>
   <br/>
<h2 class='certificationsPage'> Additional Certifications</h2>
   <li class='certificationsPage'>Certificate, Django for Everybody Specialization
   <p>Coursera | University of Michigan</p></li>
   </ul>
</body>

{% endblock%}