{% extends 'base.html' %}
{% block content %}
<body class="experiencePage">
    <h1 class='experiencePage'> Skills</h1>
    <section id="Skills" class="skills-section">
    <div class="container">
        <h3>My primary skills are...</h3>
      </div>
      <div class="skills-div">
         <div class="skills-card">
          <img src="https://i.imgur.com/gLT62xD.png" />
          <h3>MongoDB</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/MVSAQjh.png" />
          <h3>Django</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/WLO6vM1.png" />
          <h3>Node</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/ZFuqjyC.png" />
          <h3>Python</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/ygY6YEA.png" />
          <h3>JavaScript</h3>
        </div>     
        <div class="skills-card">
          <img src="https://i.imgur.com/SX2J3zE.png" />
          <h3>React</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/aX0lodp.png" />
          <h3>CSS</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/jCntzFC.png" />
          <h3>HTML</h3>
        </div>
      </div>
      <div class="container">
        <h3>I also have experience with...</h3>
      </div>
      <div class="skills-div">
        
        <div class="skills-card">
          <img src="https://i.imgur.com/u7PoTFg.png" />
          <h3>Git</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/hyLqTQA.png" />
          <h3>MySQL</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/MKmd7gi.png" />
          <h3>PostgreSQL</h3>
        </div>
        <div class="skills-card">
          <img src="https://i.imgur.com/0vjNBwx.png" />
          <h3>Postman</h3>
        </div>
      </div>
      </section>
</body>

{% endblock%}