{% extends 'base.html' %}
{% block content %}
 <!DOCTYPE html>
<html lang="en" class="projectPage">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brittany Coleman : Portfolio {% endblock %}</title>

</head> 
<body class="projectPage">
    <h1 class='projectPage'> Projects</h1>
    <br/>
    <div class='projectPage'>
        <div class='wom-nology'>
            <a href='https://wom-nology.herokuapp.com/'><img class='projectPage' src='https://i.imgur.com/WMTg28T.png'></a>
            <h3 class='projectPage'> WOM-nology</h3> 
        </div>
        <div class='jobbuzz'>
            <a href='https://jobbuzz.herokuapp.com/'><img class='projectPage' src='https://i.imgur.com/kTRBhAl.png'></a>
            <h3 class='projectPage'>Job Buzz</h3>
        </div>
    </div>
    <br/>
    <br/>
    <div class='projectPage2'>
        <div class='playdate'>
            <a href='https://kidsmeals.herokuapp.com/'><img class='projectPage' src='https://i.imgur.com/nIGZbLv.png'></a>
            <h3 class='projectPage'>Playdates & Kids Meals</h3>
        </div>
        <div class='flightscan'>
            <a href='https://brittany-mongoose-flights.herokuapp.com/'><img class='projectPage' src='https://i.imgur.com/Oo9pxp6.png'></a>
            <h3 class='projectPage'>FlightScan</h3>
        </div>
    </div>
    <br/>
    <br/>
        <div class='projectPage3'>
          <div class='beers'>
            <a href='http://beers_and_bites.surge.sh/'><img class='projectPage' src='https://i.imgur.com/8txBL3r.jpg'></a>
            <h3 class='projectPage'>Beers & Bites</h3>
        </div>
        <div class='crafter'>
            <a href='https://thehappycrafter.herokuapp.com/'><img class='projectPage' src='https://i.imgur.com/3Ndoihz.png'></a>
            <h3 class='projectPage'>The Happy Crafter</h3>
    </div>
</body>

{% endblock%}