/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* Body */
 body{
    font-family: 'Poiret One', cursive;
    /* font-variant-caps: small-caps; */
    
} 

/* Navigation */
nav.navbar.navbar-expand-lg{
    background-color: white;
   
}
a.nav-link{
    color: #e27a81;
    font-weight: bolder;
    outline: white;
    outline-width: medium;
    font-variant-caps: small-caps;
}
a.nav-link:hover{
    color: white;
    font-weight: bolder;
    background-color: black;
    font-variant-caps: small-caps;
    
}
a.navbar-brand{
    color: #e27a81;
    font-weight: bolder;
    outline-color: white;
    outline-width: medium;
    font-variant-caps: small-caps;
}
a.dropdown-item{
    color: #e27a81;
    font-weight: bolder;
    outline: white;
    outline-width: medium;
    font-variant-caps: small-caps;
}
a.dropdown-item:hover{
    color: white;
    font-weight: bolder;
    background-color: black;
    font-variant-caps: small-caps;
}
/* Home Page */
body.homePage{
    background-color: black;
    
}
video.homePage{
   height: 100%;
   width: 100%;
   position: relative; 
   top: 0;
   left: 0;
   bottom: 0; 
   right: 0;
}
/* About Page */

body.aboutPage{
    background-color: #ac187a;
}
h1.aboutPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
}
img.aboutImage{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #382632;
    height: 500px;
    border-radius: 70px;  
}
p.aboutPage{
    color: white;
    font-size: 25px;
}
div.aboutText{
    display: flex;
    justify-content: center;
    align-content: center;
}
a.aboutPage{
    color: #e27a81; 
    font-weight: bolder;
}
h2.aboutPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
}
button.aboutPage{
    font-size: 20px ;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: white;
    color: #e27a81;  

}
button:hover{
    background-color: #ac187a;
    color: white;  
}

/* Blog Page */
button.blogPage{
    font-size: medium ;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e27a81;
    color: white;
}
button.blogPage:hover{
    background-color: #ac187a;
    color: white;  
}
h1.blogPage{
    font-size: 40px;
    font-weight: bolder;
    border-bottom: 3px solid black;
    text-align: center;
    font-variant-caps: small-caps;
}
a.blogPage{
    color: white;
}
/*  Blog Create Page */
button.blogCreate{
    font-size: medium ;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e27a81;
    color: white;
}
p.blogPage{
    font-size: 25px;
}

/* Blog Delete */
button.blogDelete{
    font-size: medium ;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e27a81;
    color: white;  
}
/* Project Page */
body.projectPage{
    background-color: #ac187a;
}
h1.projectPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
div.wom-nology{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
img.projectPage{
    width: 40%;
    height: 40%;
    border: black 3px solid;
}
h3.wom-nology{
    color: white;
}

/* Experience Page */
body.experiencePage{
    background-color: #ac187a;
}
h1.experiencePage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
/* Certification Page */

/* Connect Page */
body.connectPage{
    background-color: #ac187a;
}
h1.connectPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
svg.bi.bi-linkedin{
    color: blue;
}
/* Footer */
footer.page-footer{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: right;
    color: #e27a81;
    font-size: medium;
}
/* div.right{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: right;
} */