/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* Body */
 body{
    font-family: 'Poiret One', cursive;
    
} 
/* Sign-Up */
body.signup{
    background-color: black ;
    color: white;
}
button.signup{
    font-size: 20px ;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: white;
    color: #e27a81;  
}
/* Login */

button.login{
    font-size: 20px ;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: white;
    color: #e27a81;  
}

/* Navigation */
nav.navbar.navbar-expand-lg{
    background-color: white;
   
}

a.nav-link{
    color: #e27a81;
    font-weight: bolder;
    outline: white;
    outline-width: medium;
    font-variant-caps: small-caps;
}
a.nav-link:hover{
    color: white;
    font-weight: bolder;
    background-color: black;
    font-variant-caps: small-caps;
    
}
a.navbar-brand{
    color: #e27a81;
    font-weight: bolder;
    outline-color: white;
    outline-width: medium;
    font-variant-caps: small-caps;
}
a.dropdown-item{
    color: #e27a81;
    font-weight: bolder;
    outline: white;
    outline-width: medium;
    font-variant-caps: small-caps;
}
a.dropdown-item:hover{
    color: white;
    font-weight: bolder;
    background-color: black;
    font-variant-caps: small-caps;
}
/* Home Page */
body.homePage{
    background-color: black;
    
}
video.homePage{
   height: 100%;
   width: 100%;
   position: relative; 
   top: 0;
   left: 0;
   bottom: 0; 
   right: 0;
}
/* About Page */

body.aboutPage{
    background-color: #ac187a;
}
h1.aboutPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
}
img.aboutImage{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #382632;
    height: 500px;
    border-radius: 70px;  
}
p.aboutPage{
    color: white;
    font-size: 25px;
}
div.aboutText{
    display: flex;
    justify-content: center;
    align-content: center;
}
a.aboutPage{
    color: #e27a81; 
    font-weight: bolder;
}
h2.aboutPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
}
button.aboutPage{
    font-size: 20px ;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: white;
    color: #e27a81;  

}
button:hover{
    background-color: #ac187a;
    color: white;  
}

/* Blog Page */
button.blogPage{
    font-size: medium ;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e27a81;
    color: white;
}
button.blogPage:hover{
    background-color: #ac187a;
    color: white;  
}
h1.blogPage{
    font-size: 40px;
    font-weight: bolder;
    border-bottom: 3px solid black;
    text-align: center;
    font-variant-caps: small-caps;
}
a.blogPage{
    color: white;
}
/*  Blog Create Page */
button.blogCreate{
    font-size: medium ;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e27a81;
    color: white;
}
p.blogPage{
    font-size: 25px;
}

/* Blog Delete */
button.blogDelete{
    font-size: medium ;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #e27a81;
    color: white;  
}
/* Project Page */
body.projectPage{
    background-color: #ac187a;
}
div.projectPage{
    display: flex;
}
div.projectPage2{
    display: flex;
}
div.projectPage3{
    display: flex;
}
div.projectPage4{
    display: flex;
}
h1.projectPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
div.wom-nology{
    display: block;   
}
div.jobbuzz{
    display:block;
}
div.playdate{
    display:block;
}
div.flightscan{
    display: block;
}
div.beers{
    display: block;
}
div.crafter{
    display:block;
}
img.projectPage{
    width: 70%;
    height: 80%;
    border: black 3px solid;
}
h3.projectPage{
    color: white;
}

/* Experience Page */
body.experiencePage{
    background-color: #ac187a;
}
h1.experiencePage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
.skills-section {
    padding: 3rem 0;
    color: #e6e6e6;
  }
  
  .skills-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .skills-section h2 {
    color: #e6e6e6;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-left: 1rem;
  }
  
  .skills-section .container h3 {
    margin: 2rem 0;
    margin-left: 1rem;
  }
  
  .skills-card {
    background: #1a1a1a;
    color: #e6e6e6;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-radius: 1rem;
    margin: 1rem 0.5rem;
  }
  
  .skills-card img {
    height: 13rem;
    width: 13rem;
    margin-bottom: 1rem;
  }
  
/* Certification Page */
body.certificationsPage{
    background-color: #ac187a;
}
h1.certificationsPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
li.certificationsPage{
    color: white;
    font-size: 35px;
}
/* Connect Page */
body.connectPage{
    background-color: #ac187a;
}
h1.connectPage{
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    border-bottom: 3px solid white;
}
div.direct-contact-container{
    position: absolute;
    top: 30%;   
    width: 85%;
    text-align: center;
}
button.connectPage{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
button:hover svg{
    transform: scale(1.3);
    color: #e27a81;
}
button::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
button:hover::before{
    top:-10%;
    left: -10%;
}

/* Footer */
footer.page-footer{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: right;
    color: #e27a81;
    font-size: medium;
}
